# Ignore Visual Studio project files
*.vs
*.slnx
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Ignore other file types
*.txt
*.exe

# Ignore ThirdParty folder, downloaded by end-user
**/ThirdParty/**

# Ignore engine built binaries 
**/Binaries/**

# Ignore engine generated intermediates
**/Intermediates/**