# Ignore Visual Studio project files
*.vs
*.slnx
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Ignore ThirdPartySDKs folder, downloaded by end-user
**/ThirdPartySDKs/**

# Ignore engine built binaries 
**/Binaries/**

# Ignore engine generated intermediates
**/Intermediates/**